body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #333;
    text-decoration: none;
}

.download-button {
    background-color: #10a37f;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.changelog {
    background-color: #585854;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.download-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.timer {
    background-color: #a90909;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: none;
    cursor: not-allowed;
}

#appreciated-on-content {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 8px 20px;
    color: #fff;
    background-color: #10a37f;
    border-radius: 3px;
}

.styled-select {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 1px 20px;
    color: #fff;
    background-color: #10a37f;
    border-radius: 3px;
    width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    font-size: 14px;
}